.footer {
  background: var(--color-primary);
  color: var(--color-surface);
  padding: 20px;
}

.products-address {
  margin-bottom: 30px;
}

.products-address h3 {
  color: var(--text-primary);
  padding: 0;
  margin: 0;
}

.products-address p {
  padding: 0;
  margin: 0;
}

.map-container {
  margin-top: 30px;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.products-contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.products-contact img {
  width: 30px;
  height: 30px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}
