.footer {
  margin-top: 30px;
  padding: 20px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  box-shadow: var(--shadow-elevation);
}

.footer p {
  text-align: center;

  margin-top: 30px;
}

.footer__contact-wrapper {
  display: flex;
}

.footer__left-section {
  width: 30%;
}

.footer__title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__title h1 {
  font-size: 1.2rem;
}

.footer__title img {
  height: 50px;
  width: 50px;
}

.footer__contact {
  display: flex;
  gap: 30px;
}

.footer__right-section {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.footer__right-section iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media (max-width: 840px) {
  .footer__contact-wrapper {
    flex-direction: column;
  }

  .footer__left-section {
    width: 100%;
    text-align: center;
  }

  .footer__title {
    justify-content: center;
  }

  .footer__contact {
    justify-content: center;
    margin-bottom: 30px;
  }
}
