.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  display: flex;
  justify-content: center;
}

.header__navbar {
  width: 70%;
  margin-top: 25px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: var(--shadow-elevation);

  animation: fadeIn 1s ease-in-out;
}

.header__navbar-left {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 5px;

  text-decoration: none;
  color: inherit;
}

.header__navbar-left h1 {
  font-size: 1.2rem;
}

.header__navbar-left img {
  height: 50px;
  width: 50px;
}

.header__navbar-right {
  display: flex;
  gap: 50px;
}

.header__navbar-mobile-btn {
  display: none;
}

.icon-close {
  display: none;
  height: 25px;
  width: 25px;
}

.header__navbar-mobile-btn[aria-expanded="true"] .icon-menu {
  display: none;
}

.header__navbar-mobile-btn[aria-expanded="true"] .icon-close {
  display: inline;
}

.header__navbar-mobile {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px;
  width: 50%;
  background-color: var(--color-white);
  border-radius: 20px;

  text-align: center;

  animation: fadeIn 0.3s ease-in-out;
}

.header__navbar-mobile ul {
  margin: 0 0 20px 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 500;
}

.header__navigation {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header__navigation-item a {
  cursor: pointer;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.header__navigation-item:hover {
  opacity: 0.6;
}

.header__button-order {
  align-self: center;
  cursor: pointer;

  border: none;
  border-radius: 10px;

  padding: 15px;
  background-color: var(--color-primary);
  color: var(--color-white);

  font-size: 1rem;
}

.header__button-order:hover {
  opacity: 0.8;
}

@media (max-width: 820px) {
  .header__navbar {
    width: 80%;
  }

  .header__navbar-right {
    display: none;
  }

  .header__navbar-mobile-btn {
    display: block;
    background: none;
    border: none;
  }
}

@media (max-width: 480px) {
  .header__navbar-left h1 {
    display: none;
  }
}
